@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:opsz,wght@9..144,700;9..144,900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 83.125rem;
  margin: 0 auto;
  width: 92%;
}

@media only screen and (max-width: 43.1875em) {
  .hide-for-tablet {
    display: none;
  }
}

@media only screen and (min-width: 43.25em) {
  .hide-for-desktop {
    display: none;
  }
}

.header-wrapper {
  min-height: 49.125rem;
  background-image: url("../../images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #3ebfff;
}
@media only screen and (max-width: 43.1875em) {
  .header-wrapper {
    background-image: url("../../images/mobile/image-header.jpg");
  }
}
.header-wrapper .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 5.625rem;
  position: relative;
}
.header-wrapper .nav .menu-icon {
  cursor: pointer;
}
.header-wrapper .nav .nav-links a {
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  color: hsl(0deg, 0%, 100%);
  text-decoration: none;
  margin-right: 3.0625rem;
}
.header-wrapper .nav .nav-links .btn-nav {
  font-family: "Fraunces", serif;
  background-color: hsl(0deg, 0%, 100%);
  color: hsl(212deg, 27%, 19%);
  padding: 1rem 1.9rem;
  margin: 0;
  border-radius: 1.9rem;
}
.header-wrapper .nav .nav-links .btn-nav:hover {
  color: hsl(0deg, 0%, 100%);
  background-color: rgba(255, 255, 255, 0.3);
}
@media only screen and (max-width: 43.1875em) {
  .header-wrapper .nav .nav-links {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    max-width: 330px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: hsl(0deg, 0%, 100%);
    visibility: hidden;
    opacity: 0;
  }
  .header-wrapper .nav .nav-links a {
    color: hsl(232deg, 10%, 55%);
    text-align: center;
    margin: 0 0 2.8125rem 0;
  }
  .header-wrapper .nav .nav-links a:first-child {
    padding-top: 2.8125rem;
  }
  .header-wrapper .nav .nav-links.visible {
    visibility: visible;
    opacity: 1;
  }
  .header-wrapper .nav .nav-links .btn-nav {
    background-color: hsl(51deg, 100%, 49%);
    margin-bottom: 2.8125rem;
  }
  .header-wrapper .nav .nav-links .btn-nav:hover {
    background-color: hsla(51deg, 100%, 49%, 0.466);
    color: hsl(212deg, 27%, 19%);
  }
}
.header-wrapper .hero-text {
  font-size: clamp(3rem, 10vw, 4rem);
  font-family: "Fraunces", serif;
  color: hsl(0deg, 0%, 100%);
  letter-spacing: 3px;
  text-align: center;
  padding: 6.875rem 1rem 0;
}
.header-wrapper .icon-down {
  margin: 0 auto;
  padding: 5.25rem 0 0 0;
}

@media only screen and (min-width: 43.25em) {
  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}
.grid .img-col {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 19.4375rem;
}
.grid .img-col.img-transform-brand {
  background-image: url("../../images/mobile/image-transform.jpg");
}
@media only screen and (min-width: 43.25em) {
  .grid .img-col.img-transform-brand {
    background-image: url("../../images/desktop/image-transform.jpg");
    order: 2;
  }
}
.grid .img-col.img-stand-out {
  background-image: url("../../images/mobile/image-stand-out.jpg");
}
@media only screen and (min-width: 43.25em) {
  .grid .img-col.img-stand-out {
    background-image: url("../../images/desktop/image-stand-out.jpg");
  }
}
.grid .text-col {
  text-align: center;
  font-size: 1.125rem;
  padding: 3.5rem 1.5rem;
}
.grid .text-col h3 {
  font-size: 2.5rem;
  font-family: "Fraunces", serif;
  margin-bottom: 2rem;
}
.grid .text-col p {
  font-family: "Barlow", sans-serif;
  color: hsl(210deg, 4%, 67%);
  margin-bottom: 2rem;
}
.grid .text-col .btn {
  position: relative;
  font-family: "Fraunces", serif;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}
@media only screen and (min-width: 43.25em) {
  .grid .text-col {
    text-align: left;
    max-width: 41.063rem;
    margin: auto;
    padding: 0 1.5625rem;
  }
  .grid .text-col h3 {
    padding: 10.3125rem 0 0;
    font-size: 3.5rem;
  }
  .grid .text-col .btn {
    display: inline-block;
    margin-bottom: 10rem;
  }
}

.transform-brand-wrapper .btn::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0px;
  background-color: hsl(51deg, 100%, 49%);
  opacity: 0.3;
}
.transform-brand-wrapper .btn:hover:before {
  opacity: 0.7;
}

.stand-out-wrapper .btn::before {
  content: "";
  width: 100%;
  height: 8px;
  position: absolute;
  bottom: 0px;
  background-color: hsl(7deg, 99%, 70%);
  opacity: 0.3;
}
.stand-out-wrapper .btn:hover:before, .stand-out-wrapper .btn:focus:before {
  opacity: 0.7;
}

.text-on-img-container {
  min-height: 29.375rem;
}
@media only screen and (min-width: 43.25em) {
  .text-on-img-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 44.1875rem;
  }
  .text-on-img-container .graphic-design-wrapper {
    background-image: url("../../images/desktop/image-graphic-design.jpg");
  }
  .text-on-img-container .graphic-design-wrapper {
    background-image: url("../../images/desktop/image-graphic-design.jpg");
  }
}
.text-on-img-container .graphic-design-wrapper {
  background-image: url("../../images/mobile/image-graphic-design.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text-on-img-container .photography-wrapper {
  background-image: url("../../images/mobile/image-photography.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.text-on-img-container .text-on-img-section {
  min-height: inherit;
}
.text-on-img-container .text-on-img-section .text {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: inherit;
  max-width: 23.875rem;
  margin: auto;
  text-align: center;
  padding: 0 1.2rem;
}
.text-on-img-container .text-on-img-section .text h3 {
  font-size: 2rem;
  font-family: "Fraunces", serif;
  margin-bottom: 2rem;
}
.text-on-img-container .text-on-img-section .text p {
  font-family: "Barlow", sans-serif;
  color: hsl(198deg, 62%, 26%);
  margin-bottom: 3rem;
}/*# sourceMappingURL=style.css.map */